# Default ignored files
/../../SkillForge /.idea/shelf/
/../../SkillForge /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../SkillForge /.idea/httpRequests/
# Datasource local storage ignored files
/../../SkillForge /.idea/dataSources/
/../../SkillForge /.idea/dataSources.local.xml
